
.content {
    font-family: 'Open Sans', sans-serif;
    white-space: pre-wrap;
    text-align: justify;
    font-size: 18px;
}

.content > p,
.content > ul > li
{
    width: 60%;
    margin: 0 auto;
}

.content img {
    display: block;
    width: 60%;   
}

.content h1 {
    font-size: 25px;
    width: 60%;
    margin: 15 auto;
    text-align: center;
}

.page_title > h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size:40px;
}

#home-img {
    max-height: 100vh;
    height: 100vh; 
    width: 100%; 
    object-fit: cover;
}

#portrait {
    width: 250px;
    margin: 20px;
}

.title-left {
    margin: 0 auto;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.title-left > h1,
.title-left > p {
    margin: 0;
}

.image-content {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    white-space: pre-wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
}

.centre-container {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

.p-icon {
    font-size: 70px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#contact {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1100px) {
    .image-content {
        display: block;
    }
    #portrait {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 466px) {
    #portrait {
        width: 90%;
    }
    .content {
        text-align: left;
    }
    .image-content {
        text-align: left;
        width: 70%;
    }
    .content p {
        width: 70%;
    }
    .content h1 {
        width: 70%;
        text-align: left;
    }
}
