
.content {
    font-family: 'Open Sans', sans-serif;
    white-space: pre-wrap;
    text-align: justify;
    font-size: 19px;
}

.content p {
    width: 60%;
    margin: 0 auto;
}

.content li {
    width: 60%;
    margin: 0 auto;
}

.content img {
    display: block;
    width: 60%;   
}

.content h1 {
    font-size: 25px;
    width: 60%;
    margin: 15 auto;
    text-align: center;
}

.page_title h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size:40px;
}

#home-img {
    max-height: 100vh;
    height: 100vh; 
    width: 100%; 
    object-fit: cover;
}

#portrait {
    width: 250px;
    margin: 20px;
}

.image-content {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: row;
    font-size: 19px;
    white-space: pre-wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
}

.centre-container {
    display: flex;
    justify-content: center;
}

.language-framework {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 600px;
}

.language-framework div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.language-framework div i{
    margin-bottom: 10px;
}

.p-icon {
    font-size: 100px;
}

@media (max-width: 1100px) {
    .image-content {
        display: block;
    }
    #portrait {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 466px) {
    #portrait {
        width: 90%;
    }
    .content {
        text-align: left;
    }
    .image-content {
        text-align: left;
        width: 70%;
    }
    .content p {
        width: 70%;
    }
    .content h1 {
        width: 70%;
        text-align: left;
    }
}
