.content {
    grid-column-start: 1;
    grid-row-start: 2;
}

.content p {
    white-space: pre-wrap;
    font-size: 19px;
    width: 60%;
    margin: 0 auto;
}

.content li {
    white-space: pre-wrap;
    text-align: justify;
    font-size: 19px;
    width: 60%;
    margin: 0 auto;
}


.content h1 {
    text-align: center;
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
}


.page_title h1 {
    text-align: center;
    color: black;
    font-size:40px;
}