.hamburger-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  padding: 0;
  width: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  margin: 10px;
}

.hamburger-line {
  background: #CCCCCC;
  height: 0.25rem;
  width: 2rem;
}