.hamburger-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2rem;
    padding: 0;
    width: 2rem;
  }

.hamburger-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 10px;
}
  
  .hamburger-line {
    background: white;
    height: 0.25rem;
    width: 2rem;
  }