body {
    margin: 0;
    padding: 0;
}

#home-img {
    max-height: 100vh;
    height: 100vh; 
    width: 100%; 
    object-fit: cover;
    float: left;
}

#centered-text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    height: 100vh;
    width: 100vh;
}

.navbar {
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333333;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    left: 0;
    position: fixed;
    top: 0;
    height: 100vh;
    padding: 5px;
}

.navbar a {
    all: unset;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}

.navbar ul li {
    margin: 5px 0px;
}

.navbar ul li a {
    list-style: none;
    margin: 0px;
    display: inline-block;
    background-color: #CCCCCC;
    text-align: center;
    width: 30vh;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #805959;
    color: #f5f5f5 !important;
}

.navbar p {
    font-size: 18px;
    text-decoration: none;
    color: #3c3c3c;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar h1 {
    color: #f5f5f5;
    margin-top: -500px;
}

.home-button {
    bottom: 10;
    position: absolute;
}