
.tab-style > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}

.tab-style > ul > li {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #CCCCCC;
  margin-right: 4px;
}

.tab-style > ul > li.active {
  background-color: #333333;
  color: white;
}


@media (max-width: 401px) {
  .tab-style > ul > li {
    width: 50%;
  }
}